<h2>Welcome to Pizza Shop</h2>

<div class='row'>

	<% @products.each do |p| %>
	<div class='col-md-3'>
		<%= p.title %>
	</div>
	<div>
		<img src='<%= p.path_to_image %>' />
	</div>
	<div>
		<%= p.description %>
	</div>
	<div>
		Price: <%= p.price %> grn
	</div>
	<div>
		Size: <%= p.size %> sm
	</div>
	<div>
		<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart()">Add to cart</button>
	</div>
<% end %>
</div>
</br>
<button type="button" class="btn btn-primary" onclick="something()">Click me</button>
